<div class="row">
  <%= form_with(scope: :session, url: login_path, local: true, html: {class: "row center-align", id:"sign_in"}) do |f| %>
    <div class="input-field col s12">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Enter your username", class: "validate", type: "text" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.text_field :password, placeholder: "Enter your password", class: "validate", type: "text" %>
    </div>
    <div class="row center-align">
      <%= f.submit "Sign in", class: "btn waves-effect waves-light" %>
    </div>
  <% end %>
</div>
