<div class="row valign-wrapper">
  <%= render 'shared/errors', obj: @recipe %>
  <%= form_with(model: @recipe, local: true, html: {class: "row center-align", id:"new_recipe"}) do |f| %>
    <div class="input-field col s12 m6">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Recipe Name", class: "validate", type: "text" %>
    </div>
    <div class="input-field col s12 m6">
      <%= f.label :image %>
      <%= f.text_field :image, placeholder: "Image url", class: "validate", type: "text" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "Recipe Instructions", class: "materialize-textarea" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :category %>
      <div class=
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <p>
          <%= cb.label(class: "check-container") {cb.check_box(class: "checkmark") + cb.text } %>
        </p>
      <% end %>
    </div>
    <%= f.submit class: "btn waves-effect waves-light" %>
  <% end %>
</div>
