<h1>RECIPE SHOW PAGE</h1>

<h2><%= @recipe.title %></h2>
<div><%= simple_format(@recipe.description) %></div>
<div><%= simple_format(@recipe.image) %></div>
<small>Created <%= time_ago_in_words(@recipe.created_at) %> ago, edited <%= time_ago_in_words(@recipe.updated_at) %> ago</small>
