<article class="pa4 black-80">
  <%= render 'shared/errors', obj: @user %>
  <%= form_with(model: @user, local: true) do |f| %>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <%= f.label :username, class: "db fw4 lh-copy f6" %>
        <%= f.text_field :username, placeholder: "Enter a username", class: "pa2 input-reset ba bg-transparent w-100 measure" %>
      </div>
      <div class="mt3">
        <%= f.label :email, class: "db fw4 lh-copy f6" %>
        <%= f.text_field :email, placeholder: "Enter your email address", class: "pa2 input-reset ba bg-transparent w-100 measure" %>
      </div>
      <div class="mt3">
        <%= f.label :password, class: "db fw4 lh-copy f6" %>
        <%= f.text_field :password, placeholder: "Create a password", class: "b pa2 input-reset ba bg-transparent" %>
      </div>
    </fieldset>
    <div class="mt3"><%= f.submit(@user.new_record? ? "Sign up" : "Update Account", class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6") %></div>
  <% end %>
</article>
