<div>
  <%= form_with(model: @user, local: true) do |f| %>
    <div>
      <p>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder: "Enter a username" %>
      </p>
    </div>
    <div>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: "Enter your email" %>
      </p>
    </div>
    <div>
      <p>
        <%= f.label :password %>
        <%= f.text_field :password, placeholder: "Create a password" %>
      </p>
    </div>
    <div>
      <p>
        <%= f.submit(@user.new_record? ? "Sign up" : "Update Account") %>
      </p>
    </div>
  <% end %>
</div>
