<div class="row">
  <%= render 'shared/errors', obj: @user %>
  <%= form_with(model: @user, local: true, html: {class: "row center-align", id:"new_user"}) do |f| %>
    <div class="input-field col s12">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder: "Enter a username", class: "validate", type: "text" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Enter your email address", class: "validate", type: "text" %>
    </div>
    <div class="input-field col s12">
      <%= f.label :password %>
      <%= f.text_field :password, placeholder: "Create a password", class: "validate", type: "text" %>
    </div>
    <div class="row">
      <%= f.submit(@user.new_record? ? "Sign up" : "Update Account", class: "btn waves-effect waves-light") %>
    </div>
  <% end %>
</div>
