<div class="row">
  <% @category_recipes.each do |recipe| %>
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <%= image_tag recipe.image, alt: "Photo of #{recipe.title}", class: "image_on_card" %>
        </div>
        <div class="card-content center-align">
          <div class="row">
            <span class="card-title"><%= link_to recipe.title, recipe_path(recipe) %></span>
          </div>
          <div class="row">
            <% if recipe.categories.any? %>
              <%= render recipe.categories %>
            <% end %>
          </div>
          <div class="row">
            <small>Created <%= time_ago_in_words(recipe.created_at) %> ago, edited <%= time_ago_in_words(recipe.updated_at) %> ago</small>
          </div>
        </div>
        <% if logged_in? && (recipe.user == current_user || current_user.admin?) %>
          <div class="card-action center-align">
              <%= link_to "Edit", edit_recipe_path(recipe), class: "waves-effect waves-light btn-small light-blue lighten-1" %>
              <%= link_to "Delete", recipe_path(recipe), class: "waves-effect waves-light btn-small red darken-1", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
