<div class="row valign-wrapper">
  <%= render 'shared/errors', obj: @category %>
  <%= form_with(model: @category, local: true, html: {class: "row center-align", id:"new_category"}) do |f| %>
    <div class="input-field col s12 m12">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Category Name", class: "validate", type: "text" %>
    </div>
    <%= f.submit class: "btn waves-effect waves-light" %>
  <% end %>
</div>
