<nav class="flex justify-between bb b--black-10 bg-black">
  <div class="flex-grow pa3 flex items-center">
    <%= link_to "Recipes", recipes_path, class: "f6 link dib white dim mr3 mr4-ns" %>
    <%= link_to "Categories", categories_path, class: "f6 link dib white dim mr3 mr4-ns" %>
    <% if logged_in? %>
      <%= link_to "Log Out", logout_path, class: "f6 link dib white dim mr3 mr4-ns", method: :delete %>
    <% else %>
      <%= link_to "Sign In", login_path, class: "f6 link dib white dim mr3 mr4-ns" %>
      <%= link_to "Sign Up", signup_path, class: "f6 link dib white dim mr3 mr4-ns" %>
    <% end %>
  </div>
</nav>
