<!DOCTYPE html>
<html>
  <head>
    <title>Rawgher's Recipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="flex flex-column">
    <%= render 'layouts/nav' %>
    <div id="page-content" class="w-100">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
